<main>
  <h1>Expertize</h1>
</main>

<div>
  <form action="/" autocomplete="off" method="POST" name="submitForm">
    <label for="city">Введите место</label>
    <input type="text" id="city">
    <label for="category">Введите категорию</label>
    <input type="text" id="category" name="category">
    <button id="button" type="submit">Submit</button>
  </form>
</div>

<div class="container">
  <div id="destination">
  </div>

  <div class="sectiontitle">
    <h2>TOP PLACES</h2>
  </div>
  <section id="venues">
    <div class="venue" id="venue1">

    </div>
    <div class="venue" id="venue2">

    </div>
    <div class="venue" id="venue3">

    </div>
    <div class="venue" id="venue4">

    </div>
  </section>

  <footer>
  </footer>

</div>