<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Expertize</title>
  <link rel="stylesheet" type="text/css" href="styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mansalva|Ultra&display=swap" rel="stylesheet">
</head>

<body>

  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="js/helpers.js"></script>
  <script src="js/application.js"></script>
</body>

</html>